{
    "root": true,
    "extends": [
        "airbnb",
        "prettier",
        "plugin:prettier/recommended",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": ["prettier", "react-hooks"],
    "env": {
        "node": true,
        "es6": true,
        "browser": true,
        "jest": true
    },
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
	    "jsx-a11y/media-has-caption": "off",
        "import/no-extraneous-dependencies": [
            "error",
            { "devDependencies": ["cypress/**", "**/*.test.js", "**/*.stories.js", "**/*.spec.js"] }
        ],
	    "spaced-comment": "warn",
	    "no-debugger": "warn",
	    "no-console": "warn",
        "no-unused-vars": "error",
        "react/no-unescaped-entities": "off",
        "prettier/prettier": "warn",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "jsx-a11y/control-has-associated-label": "off",
        "no-param-reassign": "off",
        "jsx-a11y/label-has-associated-control": "off",
        "jsx-a11y/label-has-for": "off",
        "jsx-a11y/tabindex-no-positive": "off",
        "react/prop-types": 0,
        "react/forbid-prop-types": 0,
        "no-underscore-dangle": 0,
        "import/imports-first": ["error", "absolute-first"],
        "import/newline-after-import": "error"
    },
    "globals": {
        "window": true,
        "document": true,
        "localStorage": true,
        "FormData": true,
        "FileReader": true,
        "Blob": true,
        "navigator": true,
	    "cy": true,
	    "expect": true,
	    "jest": true
    },
    "parser": "babel-eslint"
}
