@import '../../../assets/styles/mixins';

.homepage {
    margin: 15px 0;
    h1 {
        font-size: 24px;
    }
    .logo {
        height: 80px;
        width: 80px;
        margin-right: 5px;
        @include media-breakpoint-up(md) {
            height: 32px;
            width: 32px;
        }
    }
    .white-box {
        transition: background-color 0.3s ease;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        position: relative;
    }

    .result-box {
        background-color: rgb(46 16 152 / 5%);
        padding: 15px;
        border-radius: 0 10px 10px 10px;
    }

    .btn {
        &-clear-input {
            transition: background-color 0.3s ease, color 0.3s ease;
            position: absolute;
            right: 1px;
            top: 1px;
            height: calc(100% - 2px);
            width: 32px;
            background-color: #ddd;
            border-radius: 0 4px 4px 0;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}
