@import '../fonts/icomoon/style.css';
@import './mixins';
@import '../../../node_modules/bootstrap/scss/tables';
@import '../fonts/averta/averta';

html {
    font-family: averta, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #efefef;
    color: #000;
    font-family: averta, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.42857143;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    &.noscroll {
        height: 100%;
        overflow: hidden;
        width: 100%;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
button,
textarea,
select {
    -webkit-appearance: none;
    color: #000;
    font-family: averta, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

textarea {
    resize: none;
}

small {
    font-size: 12px;
}

.input,
textarea,
input[type='text'],
input[type='checkbox'],
input[type='date'],
input[type='number'],
input[type='password'],
input[type='email'],
input[type='tel'] {
    border: solid 1px #ddd;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    transition: border-color 0.2s, box-shadow 0.2s linear;
    width: 100%;
    &[required].validate-error {
        border-color: #ea6a6a;
        &:hover {
            border-color: #ea6a6a;
        }
        & + .custom-icon.unchecked {
            border-color: #ea6a6a;
        }
    }
    &:disabled {
        background: #efefef;
        color: #000;
        cursor: not-allowed;
        opacity: 1; // for safari browser disabled input background
        &:hover,
        &:focus {
            background: #efefef;
            border-color: #ddd;
            color: #000;
        }
    }
    &:hover {
        border-color: #2e1098;
    }
    &::placeholder {
        color: #ccc;
    }
    &:focus {
        box-shadow: 0 0 0 3px rgba(46, 16, 152, 0.1);
        outline: none;
    }
}

select {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 25px 5px 10px;
    transition: border-color 0.2s, box-shadow 0.2s linear;
    width: 100%;
    &:hover {
        border-color: #aaa;
    }
    &:focus {
        box-shadow: 0 0 0 3px #eee;
        outline: none;
    }
}

button {
    background: none;
    border: 0;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.42857143;
    padding: 0;
    &:focus {
        outline: 0;
    }
    .pointer-event-none {
        pointer-events: none;
    }
}

a {
    color: #000;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.container,
.relative {
    position: relative;
}

:focus {
    outline: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        flex-grow: 1;
        z-index: 2;
    }
}

.col {
    min-width: auto; // a fix for new Bootstrap versions (+4.5.x)
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    margin: 15px 0;
}

.position-relative {
    position: relative;
}

@import './button';
@import './text';
